body  {
    text-align: center;
    background-color: aqua;
}

h1 {
    color: black;
}

h3 {
    color: black;
}

button {
    text-align: center;
    font-size: medium;
}

hr {
    font-weight: bolder;
}